h2 {
font-family: "CeraProMedium";
}

.repair-form {
    display: flex;
    flex-direction: column;
    width: 30rem;
}
app-loader {
    position: absolute;
    /* width: 100%; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
  
.main-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    
}

.form-wrapper {
    display: flex;
    justify-content: center;
}

.form-title {
    text-align: center;
    color: #FF5E3A;
    font-size: 3.75rem;
    font-family: "CeraProLight";
    height: 70px;
}

@media only screen and (max-width: 600px) {
    .form-wrapper { 
        width: 100%;
    }
  }