.logo-flex {
    position: absolute; 
    left: 7.5rem;
    top: 2rem; 
    word-spacing: 0.3rem;
    font-family: "CeraProBold";
  }
 
  .underline {
  width: 100%;
  height: 5px;
  background-color: #FF5E3A;
  }